# 1. before everything

In [16]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# 2. variable and assignment

In [1]:
a=3
a

In [4]:
a=3
a=7
a

7

# 3. reserved words

In [15]:
import requests
import pandas as pd 
from bs4 import BeautifulSoup
url = "https://www.programiz.com/python-programming/keyword-list"
res = requests.get(url)
soup = BeautifulSoup(res.text, 'lxml')
table = str(soup.find('table'))
keywords = pd.read_html(table)[0]
keywords

        0         1        2         3       4
0   False     class  finally        is  return
1    None  continue      for    lambda     try
2    True       def     from  nonlocal   while
3     and       del   global       not    with
4      as      elif       if        or   yield
5  assert      else   import      pass     NaN
6   break    except       in     raise     NaN

# 4. Operator

## (1). Arthimetic

In [24]:
# +, -, *, /
print("1+1=", 1+1)
print("2-1=", 2-1)
print("2*2=", 2*2)
print("4/3=", 4/3) # division always returns a floating point number(浮點數)
print("(50 - 5*6) / 4=", (50 - 5*6) / 4)

1+1= 2
2-1= 1
2*2= 4
4/3= 1.3333333333333333
(50 - 5*6) / 4= 5.0

In [46]:
print("Hello" * 4)
print([1,2,3]*5)
print((1,2,3)*5)

HelloHelloHelloHello
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [25]:
# %(take the remainder), //(floor division), **(power)
print("20%7=", 20%7)
print("20//7=", 20//7)
print("3**4=", 3**4)

20%7= 6
20//7= 2
3**4= 81

In [26]:
# use variable
a = 3
b = 5
print("a * b=", a * b)

a * b= 15

In [79]:
import math
print(math.cos(3))
print(math.floor(2.34))
print(math.log(2))
print(sum([1,2,3]))

-0.9899924966004454
2
0.6931471805599453
6

## (2). Companring

In [34]:
# >, <, >=, <=, ==, !=
print(1>2)
print(1==1) # especially notice ==

False
True

In [35]:
a=[1,2,3]
b = a
b[0]=5
print(a)
print(b)
print(a==b)
print(a is b)

[5, 2, 3]
[5, 2, 3]
True
True

In [50]:
# in
print(1 in [1,2,3])
print("a" in "abcdefg")
print('jeremy' in "I am Jeremy")
print('Jeremy' in "I am Jeremy")

True
True
False
True

In [49]:
# not
print('jeremy' not in "I am Jeremy")
print('Jeremy' not in "I am Jeremy")

True
False

## (3). Logical

In [62]:
# and, or, not
print(True and False)
print(True or False)
print(not False)

print(not "a" in "abcd")

False
True
True
False

# 5. Statements

## (1). if, else, elif

In [63]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 0
Zero

## (2). for

In [70]:
words = "Measure some strings".split()
print(words)
print(type(words))

['Measure', 'some', 'strings']
<class 'list'>

In [69]:
for word in words:
    print(word)

Measure
some
strings

In [74]:
for i in range(len(words)):
    print(i, words[i])
print(range(0,10))
print(range(10))
print(0,1,10)

0 Measure
1 some
2 strings
range(0, 10)
range(0, 10)
0 1 10

## (3). break, continue

In [78]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        break
    print("Found a number", num)

Found an even number 2

In [77]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

# 6. Function

## (1). params

In [81]:
def aggregate(nums):
    t = 0
    for i in nums:
        t += i
    return t
aggregate(range(11))

55

In [82]:
def aggregate(nums):
    t = 0
    for i in nums:
        t += i
    return t, 10
a, b = aggregate(range(11))
print(a, b)

55 10

## (2). default value

In [ ]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

In [2]:
def f(a, L=None):
    L = []
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[2]
[3]

## (3). keyword arguments

In [3]:
def cheeseshop(kind, *arguments, **keywords):
    print("-- Do you have any", kind, "?")
    print("-- I'm sorry, we're all out of", kind)
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])
        
cheeseshop("Limburger", "It's very runny, sir.",
           "It's really very, VERY runny, sir.",
           shopkeeper="Michael Palin",
           client="John Cleese",
           sketch="Cheese Shop Sketch")

-- Do you have any Limburger ?
-- I'm sorry, we're all out of Limburger
It's very runny, sir.
It's really very, VERY runny, sir.
----------------------------------------
shopkeeper : Michael Palin
client : John Cleese
sketch : Cheese Shop Sketch

## (4). lambda

In [6]:
pairs = [(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]
pairs.sort(key=lambda pair: pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

## (5). scope

In [7]:
a = 10
def foo(n):
    a = 100
    return n + a
x = foo(5)
print(x)

105

## (6). build-in function

In [16]:
# len, sum, range, max, min
a = [1,2,3,4,5]
print(len(a))
print(sum(a))
print([i for i in range(5)])
print(max(a))
print(min(a))

5
15
[0, 1, 2, 3, 4]
5
1

In [27]:
# abs, pow, round
print(abs(-1))
print(pow(2,5))
print(pow(2,5,3)) # (2**5)%3
print(round(3.1415926, 2))
print("{0:.3f}".format(3.1415926))

1
32
2
3.14
3.142

In [32]:
# Transfer type: str, int, float, string, dict, tuple, list, set
a = 3.1415926
print(type(a))
print(type(str(a)))

print(int(a))
print(type(int(a)))

<class 'float'>
<class 'str'>
3
<class 'int'>

In [35]:
# use function to write n factorial(n階乘)
def factorial(n):
    result = 1
    for i in range(1, n+1):
        result *= i
    return result
factorial(5)

120

In [59]:
# use for or while to write 9*9 table
table = ""
for i in range(1, 10):
    for j in range(1,10):
        num = (str(i) + "x" + str(j) + "=" + str(i*j) )
        if j != 9:
            table = table + num + " "
        else:
            table = table + num + "\n"
print(table)

1x1=1 1x2=2 1x3=3 1x4=4 1x5=5 1x6=6 1x7=7 1x8=8 1x9=9
2x1=2 2x2=4 2x3=6 2x4=8 2x5=10 2x6=12 2x7=14 2x8=16 2x9=18
3x1=3 3x2=6 3x3=9 3x4=12 3x5=15 3x6=18 3x7=21 3x8=24 3x9=27
4x1=4 4x2=8 4x3=12 4x4=16 4x5=20 4x6=24 4x7=28 4x8=32 4x9=36
5x1=5 5x2=10 5x3=15 5x4=20 5x5=25 5x6=30 5x7=35 5x8=40 5x9=45
6x1=6 6x2=12 6x3=18 6x4=24 6x5=30 6x6=36 6x7=42 6x8=48 6x9=54
7x1=7 7x2=14 7x3=21 7x4=28 7x5=35 7x6=42 7x7=49 7x8=56 7x9=63
8x1=8 8x2=16 8x3=24 8x4=32 8x5=40 8x6=48 8x7=56 8x8=64 8x9=72
9x1=9 9x2=18 9x3=27 9x4=36 9x5=45 9x6=54 9x7=63 9x8=72 9x9=81